<div class="vw-100 vh-100 d-flex align-items-center justify-content-center">
		<div class="container">
			<p class="head text-center"><%= heading %></p>

			<%	if(success){ %>
			<div class="success-box d-flex align-items-center justify-content-center">
				<span><%=success%></span>
			</div>
			<% } %>

		<%	if(error){ %>
			<div class="error-box d-flex align-items-center justify-content-center">
				<span><%=error%></span>
			</div>
			<% } %>

		<form class="d-flex flex-column" action="<%= action %>" method="POST">
			<% if(showUsername){ %>
			<label for="name">Username</label>
			<input type="text" name="name" id="name" placeholder="Username" required value="<%= user ? user.name :'' %>">
			<small class="userName text-danger"></small>
			<% } %>

			<label for="email">Email</label>
			<input type="email" required name="email" id="email" placeholder="Email" value="<%= user ? user.email:'' %>">
			<small class="Email text-danger"></small>
			<% if(isSignup){ %>
			<label for="password">Password</label>
			<input type="password" name="password" id="password" placeholder="Password" required>
			<small class="password text-danger"></small>
			<% } %>
			
			 <% if(isAdminEdit){ %>
			 <label for="isActive">Do you want to block user?</label>
	 			<select name="isActive" id="isActive" class="mb-4">
				<option value="true" selected>Active user</option>
				<option value="false" class="">Block user</option>
	 			</select>
			 <% } %>
			<input type="submit" value="<%= buttonText %>" class="btn <%= color %>">
			<% if(isSignup){ %>
			<p class="text-center fs-6"><%=footerQuestion%><a href="<%= destination %>"><%=footerText%></a></p>
			<% } %>
			
		</form>
		</div>
	</div>